@model IEnumerable<WorksheetGenerator.Models.User.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nutzerliste</h1>
   
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- Worksheet Details -->
			<div id="Main-Card" class="col-md-12">
				<div class="card">
					<div class="card-body">


                        <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                        <table class="table table-bordered table-responsive p-0 table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LockoutEnd)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LockoutEnabled)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AccessFailedCount)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>                                 
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmailConfirmed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LockoutEnd)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LockoutEnabled)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccessFailedCount)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
					</div>
				</div>
			</div>
									
			<!-- Preview box -->

		</div>
	</section>
</div>