@model WorksheetGenerator.Models.Task.Helper_DetailsTaskModel.DetailsTaskModel_Element

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- Worksheet Details -->
			<div id="Main-Card" class="col-md-12">
				<div class="card">
					<div class="card-body">
						


<h1>Details</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTaskType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTaskType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Query)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Query)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activated)
        </dt>
        <dd class = "col-sm-10">
            @Model.Activated
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

									
			<!-- Preview box -->

		</div>
	</section>
</div>
