@model WorksheetGenerator.Models.SubTaskType.Helper_DetailsSubTaskTypeModel.DetailsSubTaskTypeModel_Element
@{
ViewData["Title"] = "Details";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
         </div>
      </div>
      <!-- /.container-fluid -->
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">

			<!-- Worksheet Details -->
			<div id="Delete-Main-Card" class="col-md-8">
            
				<div class="card">
                    <div class="card-header" style="padding: .35rem 0.75rem;">
                        <h2 class="xpand-secondary">SubTaskType Details</h2>
                    </div>
					<div class="card-body">
						<div>                
                            <dl class="row">
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Id)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Id)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.TaskType)
                                </dt>
                                <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.TaskType)
                                </dd>
                            
                            </dl>                 
                        </div>

					</div>
				</div>
			</div>
			
            <div id="Delete-Util-Card" class="col-md-4">
            
				<div class="card">
                   	<div class="card-body">                 
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <a id="mainContent" style="height:40px;width:140px" asp-action="Index" class="btn btn-block btn-secondary btn-flat">Back to List</a>
                            <a id="sideContent" style="height:40px;width:140px" asp-action="Create" asp-controller="Task" class="btn btn-block btn-primary btn-flat">Create Task</a>

                        </div>
					</div>
				</div>
			</div>
            
            <div id="Delete-SubTasks-Card" class="col-md-12">
            
				<div class="card card-xpand-primary">
                     <div class="card-header" style="padding: .35rem 0.75rem;">
                        <h4 class="xpand-white">Tasks</h4>
                    </div>
					<div class="card-body">
						   <div class="row">
                <div class="col-md-10">
                    @if(Model.Tasks.Count() == 0)
                    {
                        <p class="xpand-secondary">Keine Tasks vorhanden.</p>
                    }
                    else
                    {
                        
                            <table id="DeletTable-TaskType" class="table" width="100%" data-toggle="table">
                                <thead>
                                    <tr>
                                    <th data-field="@Html.DisplayNameFor(model => model.Tasks[0].Id)">
                                        @Html.DisplayNameFor(model => model.Tasks[0].Id)
                                    </th>
                                    <th data-field="@Html.DisplayNameFor(model => model.Tasks[0].Name)">
                                        @Html.DisplayNameFor(model => model.Tasks[0].Name)
                                    </th>
                                    <th data-field="@Html.DisplayNameFor(model => model.Tasks[0].Description)">
                                        @Html.DisplayNameFor(model => model.Tasks[0].Description)
                                    </th>
                                    <th data-field="@Html.DisplayNameFor(model => model.Tasks[0].Activated)">
                                        @Html.DisplayNameFor(model => model.Tasks[0].Activated)
                                    </th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var i in Model.Tasks) 
                                {
                                    <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => i.Id)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Task", new {id = i.Id})"> 
                                        @Html.DisplayFor(modelItem => i.Name)                                
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => i.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => i.Activated)
                                    </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            <br />
                                       
                     } 
                    
                </div>
                </div>
                     <br />
              
					</div>
				</div>
			</div>
			<!-- Preview box -->

		</div>    
   </section>
</div>
        